/* <<-- GLOBAL -->> */

body {
  margin: 0 auto;
  background: url('https://i.pinimg.com/originals/e1/11/5a/e1115afea56dcaf0c273a4f3d9fc7f3a.jpg');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Jumbotron and Navbar */
.jumbotron {
  background: url('../images/jumbotron-img.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 400px;
}

.navbar {
  opacity: 1;
  margin-bottom: 100px;
}

#logo {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  margin: 0 40px 0 40px; 
  color: whitesmoke;
}

#nav-color {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: whitesmoke;
  line-height: 18px;
  display: inline-block;
  margin: 0 40px 0 40px; 
}

#logo:hover,
#nav-color:hover {
  color: rgb(99, 98, 98);
}

.display-4 {
  margin: 0 50px 0 50px;
}

#statement {
  color: whitesmoke;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

.lead {
  color: whitesmoke;
  text-align: center;
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Inconsolata', monospace;
  font-weight: bolder;
  font-size: 20px;
}

/* footer */

footer {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 13px;
  color: whitesmoke;
  background: url('../images/jumbotron-img.jpg');
  opacity: 0.7;
  height: 100px;
  bottom: 0;
  position: fixed;
  width:100%;
  margin: 0 auto;
}

.fab {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- HOME PAGE -->> */

.quote {
  color: whitesmoke;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  margin: 120px 0 120px 0;
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- ABOUT PAGE -->> */
.page-container {
  margin: 50px 0 50px 0;
}

#sidebar {
  margin-bottom: 50px;
}

#sidebar-title {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  font-size: 28px;
}

#sidebar-menu {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-decoration: none;
}

#sidebar-menu:hover {
  color: rgb(99, 98, 98);
}

#bio-resume-display {
  background-color: whitesmoke;
  opacity: 0.7;
  border-radius: 5px;
  margin-bottom: 100px;
}

#about-me {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 50px;
  color: rgb(70, 69, 69);
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}

#bio-image {
  max-width: 825px;
  max-height: 530px;
  border-radius: 5px;
  margin-top: 20px;
}

#my-bio {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 50px;
  background-color: whitesmoke;
  color: rgb(70, 69, 69);
  padding: 30px;
  border-radius: 5px;
}

#resume {
  min-width: 100%;
  margin-bottom: 50px;
  /* margin-top: 50px; */
  background-color: whitesmoke;
  border-radius: 5px;
  opacity: 0.8;
  padding: 0 20px 20px 20px;
}

#resume-name {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: right;
  color: rgb(70, 69, 69);
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
}

#resume-info {
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  color: rgb(70, 69, 69);
  font-family: 'Inconsolata', monospace;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

.sectionTitle {
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgb(54, 127, 168);
  border-radius: 5px;
}

.sectionTitle h1 {
  font-weight: bolder;
  padding-bottom: 0px;
  margin-left: 10px;
  color: whitesmoke;
  padding: 10px;
}

.sectionContent ul {
  font-family: 'Inconsolata', monospace;
  color: rgb(70, 69, 69);
  margin-left: 10px; 
  line-height: 30px;
  padding: 5px;
}

.sectionContent article {
  font-family: 'Inconsolata', monospace;
  color: rgb(70, 69, 69);
  margin-left: 10px;
}

#strong {
  font-weight: bolder;
  color: rgb(27, 77, 134);
}

article {
  padding: 5px;
}

article h2 {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
}

.subDetails {
  font-size: 17px;
}

#resume-pdf {
  background-color: rgb(54, 127, 168);
  border: none;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-weight: bolder;
}

#resume-pdf:hover {
  background-color: rgb(92, 90, 90);
}

/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- PORTFOLIO PAGE -->> */
#portfolio-top {
  margin-bottom: 30px;
}

.work {
  float: left;
  position: relative;
}


a:link {
  text-decoration: none;
  color: whitesmoke;
}

.card {
  border: none;
}

#sidebar-title {
  font-size: 30px;
  font-weight: bolder;
}

li button {
  line-height: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
}

#app-display {
  background-color: whitesmoke;
  opacity: 0.7;
  border-radius: 5px;
  margin-bottom: 100px;
}

#portfolio-title {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 40px;
  /* color: rgb(54, 127, 168); */
  color: rgb(70, 69, 69);
  margin-bottom: 30px;
  margin-top: 50px;
}

#portfolio-about {
  color: rgb(70, 69, 69);
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Josefin Sans', sans-serif; */

  line-height: 30px;
  font-size: 18px;
  margin-bottom: 60px;
  padding: 0 30px 0 30px;
}

#color-font {
  color: rgb(54, 127, 168);
  /* color: rgb(184, 110, 110); */
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Julius Sans One', sans-serif;
}

#color-font2 {
  /* color: rgb(54, 127, 168); */
  color: rgb(70, 69, 69);
  font-size: 17px;
  font-weight: bolder;
  font-family: 'Julius Sans One', sans-serif;
}

#image-section {
  width: 100%;
  float: center;
  margin: 0 auto;
}

#portfolio-image {
  width: 539px;
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
  /* border: 2px dashed rgb(102, 101, 101); */
}

#view-button-section2 {
  margin-bottom: 60px;
}

#view-code {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  background-color: rgb(54, 127, 168);
  text-align: center;
  border: none;
  width: 539px;
  margin-bottom: 10px;
  opacity: 0.7;
}

#view-app {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  background-color: rgb(92, 90, 90);
  text-align: center;
  border: none;
  width: 539px;
  opacity: 0.7;
}

#view-code:hover {
  background-color: rgb(184, 110, 110);
}

#view-app:hover {
  background-color: rgb(184, 110, 110);
}

#technology {
  color: rgb(70, 69, 69);
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0 30px 0 50px;
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- CONTACT PAGE -->> */
#main-container {
  background-color: whitesmoke;
  max-width: 1200px;
  opacity: 0.7;
  margin: 0 auto;
}
.main-section3 {
  min-height: 700px;
  margin: 0 auto;
  background-color: none;;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 200px;
}

#personal-info-title {
  color: rgb(92, 90, 90);
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}

#personal-info {
  color: rgb(92, 90, 90);
  margin-bottom: 20px;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  text-align: center;
}

#find-me {
  color: rgb(54, 127, 168);
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  margin-bottom: 40px;
}

iframe {
  width: 757px;
  height: 500px;
  opacity: 1;
  margin: 0 auto;
  text-align: center;
}

#upper-main {
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact-title {
  color: rgb(54, 127, 168);
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
}

textarea {
  height: 200px;
  margin-bottom: 5px;
  font-family: 'Inconsolata', monospace;

}

input[type=text],
input[type=email],
label,
textarea {
  width: 100%;
  font-family: 'Inconsolata', monospace;
}

input[type=text],
input[type=email],
textarea {
  border: 1px solid rgb(175, 173, 173);
  font-size: 14px;
  border-radius: 10px;
}

input[type=text],
input[type=email] {
  height: 30px;
  margin-bottom: 8px;
  padding-left: 8px;
}

#contact-btn {
  background-color: rgb(54, 127, 168);
  font-size: 18px;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  color: whitesmoke;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-bottom: 60px;
}

#contact-btn:hover {
  background-color: rgb(92, 90, 90);
  color: whitesmoke;
}

label {
  font-size: 18px;
  color: rgb(92, 90, 90);
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

@media screen and (max-width: 1199px) {
  /* ABOUT PAGE */
  #bio-image {
    width: 690px;
    height: 450px;
  }

  /* PORTFOLIO PAGE */
  li button {
    line-height: 40px;
    font-size: 15px;
  }

  #portfolio-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
  }
  
  #portfolio-about {
    font-family: 'Inconsolata', monospace;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 60px;
  }

  #portfolio-image {
    max-width: 396px;
    height: 250px;
  }

  #view-code {
    max-width: 396px;
  }
  
  #view-app {
    max-width: 396px;
  }

  #technology {
  font-family: 'Inconsolata', monospace;
  line-height: 30px;
  font-size: 15px;
  }

  #color-font {
    font-size: 18px;
  }

  #color-font2 {
    font-size: 15px;
  }

  /* CONTACT PAGE */
  iframe {
    width: 750px;
    height: 450px;
  }
}

@media screen and (max-width: 991px) {
  /* ABOUT PAGE */
  #bio-image {
    width: 510px;
    height: 350px;
  }

  #resume-name {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
  }
  
  #resume-info {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Inconsolata', monospace;
  }

  .sectionTitle h1{
    font-size: 30px;
  }

  article h2 {
    font-size: 25px;
  }

  /* PORTFOLIO PAGE */
  #portfolio-image {
    max-width: 330px;
    height: 250px;
  }

  #view-code {
    max-width: 330px;
  }
  
  #view-app {
    max-width: 330px;
  }

  /* CONTACT PAGE */
  iframe {
    width: 610px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  /* GLOBAL */
  #nav-color {
    font-size: 15px;
    margin-right: 0px; 
  }
  
  /* HOME PAGE */
  .quote {
    font-size: 30px;
  }

  /* ABOUT PAGE */
  #bio-image {
    width: 510px;
    height: 350px;
  }

  #resume {
    text-align: center;
  }

  #resume-name {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
  }
  
  #resume-info {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Inconsolata', monospace;
  }
  
  .sectionTitle h1{
    font-size: 30px;
  }

  article h2 {
    font-size: 25px;
  }

  /* PORTFOLIO PAGE */
  #portfolio-image {
    max-width: 330px;
    height: 250px;
  }
  #view-code {
    max-width: 330px;
  }
  
  #view-app {
    max-width: 330px;
  }

    /* CONTACT PAGE */
  iframe {
    width: 462px;
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  /* PORTFOLIO PAGE */
  #sidebar-title {
    font-size: 30px;
    font-weight: bolder;
  }
  
  li button {
    line-height: 40px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
  }

  #portfolio-image {
    max-width: 420px;
    height: 250px;
  }
  #view-code {
    max-width: 420px;
  }
  
  #view-app {
    max-width: 420px;
  }

  /* CONTACT PAGE */
  iframe {
    width: 462px;
    height: 350px;
  }
}

@media screen and (max-width: 760px) {
  /* ABOUT PAGE */
  #bio-image {
    width: 330px;
    height: 200px;
  }

  article h2 {
    font-size: 25px;
  }

  #view-code {
    max-width: 420px;
  }
  
  #view-app {
    max-width: 420px;
  }

  iframe {
    width: 475px;
    height: 350px;
  }
}

@media screen and (max-width: 575px) {
  /* ABOUT PAGE */
  #bio-image {
    width: 545px;
    height: 350px;
  }
  article h2 {
    font-size: 25px;
  }

  /* PORTFOLIO PAGE */
  #portfolio-image {
    max-width: 476px;
    height: 300px;
  }

  #view-code {
    max-width: 476px;
  }
  
  #view-app {
    max-width: 476px;
  }
}

@media screen and (max-width: 500px) {
  body {
    max-width: 567px;
  }

  /* ABOUT PAGE */
  #bio-image {
    width: 470px;
    height: 350px;
  }

  article h2 {
    font-size: 25px;
  }

  /* PORTFOLIO PAGE */
  #portfolio-image {
    max-width: 470px;
    height: 300px;
  }

  #view-code {
    max-width: 470px;
  }
  
  #view-app {
    max-width: 470px;
  }

  #technology {
    text-align: center;
  }

  /* CONTACT PAGE */
  iframe {
    width: 440px;
    height: 350px;
  }
}







