/* <<-- GLOBAL -->> */

body {
  margin: 0 auto;
  background: url('https://i.pinimg.com/originals/e1/11/5a/e1115afea56dcaf0c273a4f3d9fc7f3a.jpg');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Jumbotron and Navbar */
.jumbotron {
  background: url('../images/jumbotron-img.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 400px;
}

.navbar {
  opacity: 1;
  margin-bottom: 100px;
}

#logo {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  margin: 0 40px 0 40px; 
  color: whitesmoke;
}

#nav-color {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: whitesmoke;
  line-height: 18px;
  display: inline-block;
  margin: 0 40px 0 40px; 
}

#logo:hover,
#nav-color:hover {
  color: rgb(99, 98, 98);
}

.display-4 {
  margin: 0 50px 0 50px;
}

/* footer */

footer {
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 13px;
  color: whitesmoke;
  background: url('../images/jumbotron-img.jpg');
  opacity: 0.7;
  height: 100px;
  bottom: 0;
  position: fixed;
  width:100%;
  margin: 0 auto;
}

.fab {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- HOME PAGE -->> */
#statement {
  color: whitesmoke;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
}

.lead {
  color: whitesmoke;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bolder;
  font-size: 20px;
}

.quote {
  color: whitesmoke;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  margin: 120px 0 120px 0;
}

@media screen and (max-width: 768px) {
  /* GLOBAL */
  #nav-color {
    font-size: 15px;
    margin-right: 0px; 
  }
  
  /* HOME PAGE */
  .quote {
    font-size: 30px;
  }
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- ABOUT PAGE -->> */
.page-container {
  margin: 50px 0 50px 0;
}

#sidebar {
  margin-bottom: 50px;
}

#sidebar-title {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  font-size: 28px;
}

#sidebar-menu {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-decoration: none;
}

#sidebar-menu:hover {
  color: rgb(99, 98, 98);
}

#bio-resume-display {
  background-color: rgb(77, 75, 75);
  opacity: 0.7;
  border-radius: 5px;
}

#brief-intro {
  margin-bottom: 50px;
}

#about-me {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  line-height: 50px;
  color: whitesmoke;
  margin: 0 auto;
}

#bio {
  margin-bottom: 50px;
}

#bio-image {
  border-radius: 10px;
  margin-bottom:50px;
}

#my-bio {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  line-height: 50px;
  color: whitesmoke;
}

#resume {
  min-width: 100%;
  margin-bottom: 150px;
  background-color: whitesmoke;
  border-radius: 5px;
  opacity: 0.8;
  padding: 0 20px 20px 20px;
  min-height: 600px;
}


#resume-name {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: right;
  color: rgb(68, 68, 68);
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
}

#resume-info {
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
  color: rgb(68, 68, 68);
  font-family: 'Inconsolata', monospace;

}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

.sectionTitle {
  background-color: rgb(29, 81, 129);
}

.sectionTitle h1 {
  font-weight: bolder;
  padding-bottom: 0px;
  margin-left: 10px;
}

.sectionContent ul {
  font-family: 'Inconsolata', monospace;
  color: rgb(68, 68, 68);
  margin-left: 10px; 
  line-height: 30px;
}

.sectionContent article {
  font-family: 'Inconsolata', monospace;
  color: rgb(68, 68, 68);
  margin-left: 10px;
}

article h2 {
  font-size: 30px;
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- PORTFOLIO PAGE -->> */
#portfolio-top {
  margin-bottom: 30px;
}

.work {
  float: left;
  position: relative;
}


a:link {
  text-decoration: none;
  color: whitesmoke;
}

.card {
  border: none;
}

#sidebar-title {
  font-size: 30px;
  font-weight: bolder;
}

li button {
  line-height: 40px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: whitesmoke;

}

#psychic-button {
  font-family: 'Poiret One', cursive;

}

#portfolio-title {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 30px;
}

#portfolio-about {
  color: whitesmoke;
  font-family: 'Inconsolata', monospace;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 60px;
}


#image-section {
  width: 100%;
  float: center;
  margin: 0 auto;

}
#portfolio-image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#view-button-section {
  margin-bottom: 60px;
}

#view-code {
  background-color: rgb(92, 90, 90);
  text-align: center;
  border: none;
  width: 180px;
}

#view-app {
  background-color: rgb(92, 90, 90);
  text-align: center;
  border: none;
  width: 180px;
}

#technology {
  color: whitesmoke;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  margin-bottom: 120px;
}


/* --------------------------------------- */
/* --------------------------------------- */


/* <<-- CONTACT PAGE -->> */
.main-section3 {
  width: 1300px;
  min-height: 700px;
  margin: 0 auto;
  background-color: none;;
  padding: 30px;
  margin-top: 35px;
  margin-bottom: 255px;
}

#personal-info-title {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;

}

#personal-info {
  color: whitesmoke;
  margin-bottom: 30px;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;

}

iframe {
  border-radius: 10px;
  border: 2px solid whitesmoke;
  margin: 0 auto;
}

#upper-main {
  margin-bottom: 50px;
}

#contact-title {
  color: whitesmoke;
  font-weight: bolder;
}

textarea {
  height: 200px;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
label,
textarea {
  width: 100%;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=text],
input[type=email],
textarea {
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 10px;
}

input[type=text],
input[type=email] {
  height: 30px;
  margin-bottom: 8px;
  padding-left: 8px;
}

#contact-btn {
  background-color: rgb(92, 90, 90);
  font-size: 18px;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  color: whitesmoke;
  width: 110px;
  height: 40px;
  cursor: pointer;
  border: none;
}

#contact-btn:hover {
  background-color: whitesmoke;
  color: rgb(92, 90, 90);
}

label {
  font-size: 18px;
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}



/* Media query */

@media screen and (max-width:980px){
 
.main-section {
float: left;
width: 70%;
max-width: 70%;
padding: 30px;
margin: 0 0 40px;
background: #fff;
border: 1px solid #ddd;
}

  


@media screen and (max-width:768px) {
#top {
width: 100%;
margin: 0 auto;
}

.container{
width:100%;
margin: 0 auto;
clear: both;
max-width: 750px;
}  

.main-section{
float: left;
width: 100%;
padding: 30px;
margin: 0 0 40px;
max-width: 750px;
background: #fff;
border: 1px solid #ddd;
}

.main-section2 {
width: 100%;
max-width: 750px;
}

.my-image {
float: left;
width: 300px;
height: auto;
margin-top: 10px;
margin-right: 25px;
}

iframe {
  width: 440px;
}
  



@media screen and (max-width: 640px) {

#top {
width: 100%;
margin: 0;
}


.top-container {
max-width: 640px;
width: 100%
}

.nameplate {
width: 100%;
}

nav {
width: 100%;
text-align: center;
padding-bottom: 30px;
}

.main-container {
padding: 20px;
width: 100%;
}

.my-image {
width: 100%;
height: auto;
margin-bottom: 20px;
}

p {
line-height: 40px;
}

/* Portfolio 640px */

.work {
  width : 100%;
}

/* contact 640px */
.main-section3 {
width: 100%;
height: 545px;
margin: 0 auto;
background-color: white;
padding: 30px;
margin-top: 35px;
margin-bottom: 255px;
border: 1px solid #ddd;   
}

input[type=text],
input[type=email],
label,
textarea {
  width: 100%;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

