body {
    margin: 0 auto;
    background: url('../images/Subtle-Light-Tile-Pattern-Vol2.jpg');

}

.container {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

#top {
    height: 100px;
    background-color: rgb(62, 62, 63);
}

#nameplate {
    color: white;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    font-weight: bolder;
}
nav a {
    color: white;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size:20px;
    float: right;
}

#main-container {
    background-color: white;

}